<div class="flex gap-1 px-2 py-1 w-full"
  data-controller="object-author"
  data-object-author-target="message"
  data-object-author-messenger-id-value="<%= message.user_id %>">

  <%= image_tag avatar_image(message.user, :thumb), class: 'avatar w-8 h-8', data: { object_author_target: 'avatar' } %>

  <div id="<%= dom_id(message) %>" class="message-box flex flex-col max-w-[80%] py-1 px-2 bg-orange-200 text-xs rounded-lg">
    <div class="message-date flex w-full text-[10px]">
      <%= render 'messages/date_format', time: message.created_at %>
    </div>

    <div class="message-image flex flex-col">
      <% if message.gif_url.present? %>
        <%= link_to message.gif_url, target: '_blank' do %>
          <%= image_tag message.gif_url, class: 'my-1 rounded-md', width: '128px' %>
        <% end %>
      <% end %>

      <% if message.image.attached? %>
        <%= link_to url_for(message.image), target: '_blank', class: 'w-fit' do %>
          <% if message.image.content_type.eql?('image/gif') %>
            <%= image_tag message.image, class: 'my-1 rounded-md', width: '128px' %>
          <% else %>
            <%= image_tag message.image.variant(:thumb), class: 'my-1 rounded-md' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <p class="whitespace-normal break-words text-xs"><%= message.body %></p>
  </div>
</div>