<div class="flex justify-between items-center">
  <h1 class="pr-5 font-source text-center font-semibold text-xl tracking-wide text-orange-500 whitespace-nowrap">
    .edit user settings
  </h1>
  <hr class="border-t-2 border-orange-200 w-full">
</div>

<div class="page-content-card gap-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put, data: { turbo: false }) do |f| %>
    <div class="space-y-3">
      <div class="field">
        <%= f.text_field :username, placeholder: 'Username', autocomplete: "username", class: 'form-field' %>
        <%= render 'shared/form_errors', form: f, value_type: :username %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: 'Email', autocomplete: "email", class: 'form-field' %>
        <%= render 'shared/form_errors', form: f, value_type: :email %>
      </div>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <div class="field">
        <%= f.password_field :password, placeholder: 'Change Password', autocomplete: "new-password", class: 'form-field' %>
        <%= render 'shared/form_errors', form: f, value_type: :password %>
      </div>
      
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: "new-password", class: 'form-field' %>
        <%= render 'shared/form_errors', form: f, value_type: :password_confirmation %>
      </div>
      
      <div class="field">
        <%= f.password_field :current_password, placeholder: 'Current Password', autocomplete: "current-password", class: 'form-field' %>
        <%= render 'shared/form_errors', form: f, value_type: :current_password %>
        <p class="text-xs tracking-wide">Enter password to update changes</p>
      </div>
      <div class="actions flex justify-between">
        <%= f.submit "Update", class: 'btn' %>
        <%= link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, data: { turbo_method: :delete } , class: 'btn' %>
      </div>
    </div>
  <% end %>
</div>