<% nesting = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>

<div class="ml-5 mb-3">
  <div>
    <%= comment.user.username %> commented:
    <%= simple_format(comment.body) %>
  </div>
  <hr>
  <div>
    <div>
      <i class="far fa-thumbs-up"></i>
    </div>
    <%= render 'comments/form',
      commentable: comment.commentable,
      parent_id: find_parent_comment_id(comment, nesting, max_nesting),
      target: 'reply.form'
    %>
    <div>
      <i class="far fa-pen-to-square"></i>
    </div>
    <%= button_to [comment.commentable, comment], method: :delete do %>
      <i class="far fa-trash-can"></i>
    <% end %>
  </div>
  <hr>
  <%= render comment.comments.includes([:user, :commentable]),
    nesting: nesting + 1,
    max_nesting: max_nesting
  %>
</div>