<%= turbo_frame_tag comment do %>
  <div class="flex flex-col w-fit py-2 px-4 bg-stone-100 rounded-2xl">
    <%= link_to comment.user.username, user_path(comment.user), class: 'w-fit' %>
    <p class="font-light"><%= comment.body %></p>
  </div>

  <div class="flex pl-4 gap-x-3 mb-2 items-baseline text-sm" data-controller="object-author"
    data-object-author-commenter-id-value="<%= comment.user_id %>"
    data-object-author-poster-id-value="<%= comment.commentable.user_id %>">

    <div class="flex gap-x-1">
      <%= render 'likes/like_button', likeable: comment, user: user %>
      <%= render 'likes/like_counter', likeable: comment %>
    </div>

    <button data-action="<%= toggle_popup('dropdown') %>" data-dropdown-target="button" aria-expanded="false">
      <i class="fa-regular fa-comment-dots"></i>
    </button>

    <div class="hidden" data-object-author-target="editButton">
      <%= button_to edit_comment_path(comment), method: :get do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    </div>
    <div class="hidden" data-object-author-target="deleteButton">
      <%= button_to comment_path(comment), method: :delete do %>
        <i class="far fa-trash-can"></i>
      <% end %>
    </div>
    <div class="text-xs font-light">
      <p><%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>
  </div>
<% end %>
