<%= turbo_stream_from comment %>
<%= turbo_frame_tag comment do %>
  <div>
    <%= comment.user.username %> commented:
    <%= comment.body %>
  </div>

  <div class="flex gap-x-2 mb-2">
    <%= turbo_stream_from comment, :like_button, class: 'hidden' %>
    <%= render 'likes/like_button', likeable: comment, current_user: current_user %>
    <%= turbo_stream_from comment, :like_count, class: 'hidden' %>
    <%= render 'likes/like_counter', likeable: comment %>
    
    <%= button_to '#', data: { action: 'click->comment-reply#toggle' } do %>
      <i class="fa-regular fa-comment-dots"></i>
      <span>Reply</span>
    <% end %>

    <%# if comment.user == current_user %>
      <%= button_to edit_comment_path(comment), method: :get do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <span>Edit</span>
      <% end %>
    <%# end %>

    <%= button_to comment_path(comment), method: :delete do %>
      <i class="far fa-trash-can"></i>
      <span>Delete</span>
    <% end %>
  </div>
<% end %>