<%= turbo_stream_from comment %>
<%= turbo_frame_tag comment do %>
  <div class="ml-5 mb-3">
    <div>
      <%= comment.user.username %> commented:
      <%= simple_format(comment.body) %>
    </div>
    <hr>
    <div class="flex gap-x-2">
      <div>
        <i class="fa-regular fa-comment-dots"></i>
        <span>Reply</span>
      </div>
      <div>
        <%= link_to edit_post_comment_path(comment.commentable, comment) do %>
          <i class="fa-regular fa-pen-to-square"></i>
          <span>Edit</span>
        <% end %>
      </div>
      <div>
        <%= button_to [comment.commentable, comment], method: :delete do %>
          <i class="far fa-trash-can"></i>
          <span>Delete</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>