<%= turbo_frame_tag comment do %>
  <div>
    <%= link_to comment.user.username, user_path(comment.user) %> commented:
    <%= comment.body %>
  </div>

  <div class="flex gap-x-2 mb-2" data-controller="object-author"
    data-object-author-commenter-id-value="<%= comment.user_id %>"
    data-object-author-poster-id-value="<%= comment.commentable.user_id %>">

    <%= render 'likes/like_button', likeable: comment, user: user %>
    <%= render 'likes/like_counter', likeable: comment %>

    <button data-action="<%= toggle_popup('dropdown') %>" data-dropdown-target="button" aria-expanded="false">
      <i class="fa-regular fa-comment-dots"></i>
      <span>Reply</span>
    </button>

    <div class="hidden" data-object-author-target="editButton">
      <%= button_to edit_comment_path(comment), method: :get do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <span>Edit</span>
      <% end %>
    </div>
    <div class="hidden" data-object-author-target="deleteButton">
      <%= button_to comment_path(comment), method: :delete do %>
        <i class="far fa-trash-can"></i>
        <span>Delete</span>
      <% end %>
    </div>
  </div>
<% end %>
