<% model = [local_assigns[:commentable], comment].compact %>

<%= form_with model: model,
  id: dom_id_for_comment(*model),
  data: local_assigns[:data],
  class: local_assigns[:class] do |f| %>
  
  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>
  
  <div class="flex flex-col content-start gap-x-2" data-controller="form">
    <div>
      <%= f.text_area :body,
        placeholder: 'Write a comment...',
        data: { action: 'input->form#resize input->form#is_empty', form_target: 'input' },
        class: 'w-full h-9 border-none bg-stone-100 rounded-2xl text-sm' %>
    </div>

    <div>
      <%= f.button nil, data: { form_target: 'button' }, class: 'border rounded-full w-fit px-3' do %>
        <i class="fas fa-circle-chevron-right"></i>
        <span>Submit</span>
      <% end %>

      <% if f.object.persisted? %>
        <%= link_to posts_path do %>
          <i class="fas fa-rotate-left"></i>
          <span>Cancel</span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>