<%= turbo_stream_from comment, :comments, class: 'hidden' %>
<%= turbo_stream_from comment, :like_count, class: 'hidden' %>
<%= turbo_stream_from comment %>

<div class="<%= nesting_padding(comment.nesting) %>" data-controller="dropdown">
  <%= render 'comments/comment', comment: comment, user: user %>

  <div id="<%= dom_id(comment, :comments) %>">
    <%= render 'comments/form',
      commentable: comment,
      comment: Comment.new(user: user),
      data: { dropdown_target: 'popup' },
      class: 'hidden pl-10' %>
    <%= render partial: 'comments/parent_comment',
      collection: comment.comments.includes(:user, :image_attachment).where(nesting: ..2).limit(2),
      as: :comment,
      locals: { user: user } %>
  </div>

  <div id="<%= dom_id(comment, :load) %>" class="ml-12 mb-2 w-fit text-slate-800">
    <%= render 'comments/load_comments_button', commentable: comment %>
  </div>
</div>
