<%= turbo_stream_from comment, :comments, class: 'hidden' %>
<%= turbo_stream_from comment, :buttons, class: 'hidden' %>
<%= turbo_stream_from comment, :like_count, class: 'hidden' %>
<%= turbo_stream_from comment %>

<div class="<%= nesting_padding(comment.nesting) %>" data-controller="dropdown">
  <%= render 'comments/comment', comment: comment, user: user %>

  <div id="<%= dom_id(comment, :comments) %>">
    <%= render 'comments/form',
      commentable: comment,
      comment: Comment.new,
      data: { dropdown_target: 'popup' },
      class: 'hidden' %>
    <%= render partial: 'comments/parent_comment',
      collection: comment.comments,
      as: :comment,
      locals: { user: user } %>
  </div>
</div>
