<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <div class="w-full flex justify-between items-center">
    <%= button_to user_google_oauth2_omniauth_authorize_path, data: {turbo: false} do %>
      <div class="flex items-center pl-1 pr-2 gap-1 rounded-xl h-9 border-2 text-slate-700 hover:bg-slate-100 font-medium">
        <%= image_tag 'google-icon.png', class: 'rounded-full h-6 w-6 shrink-0' %>
        <p>Google</p>
      </div>
    <% end %>

    <%= button_to user_facebook_omniauth_authorize_path, data: {turbo: false} do %>
      <div class="flex items-center px-2 gap-2 rounded-xl h-9 text-white bg-blue-500 hover:bg-blue-600 font-medium">
        <i class="fa-brands fa-facebook h-[18px] w-[18px] shrink-0"></i>
        <p>Facebook</p>
      </div>
    <% end %>

    <%= button_to user_github_omniauth_authorize_path, data: {turbo: false} do %>
      <div class="flex items-center px-2 gap-2 rounded-xl h-9 text-white bg-gray-500 hover:bg-gray-600 font-medium">
        <i class="fa-brands fa-github h-[18px] w-[18px] shrink-0"></i>
        <p>GitHub</p>
      </div>
    <% end %>
  </div>

<% end %>
