<%= turbo_frame_tag :search_people do %>
  <div class="relative" data-controller="dropdown" id="search_users">
    <div class="absolute top-[-26px] sm:-left-8 -left-2 sm:w-[500px] w-[275px] pt-3 z-[1] text-slate-600 rounded-md" id="search" data-dropdown-target="popup">
      <div class="flex flex-col normal-case tracking-normal gap-4 animate-slide-in-down">
        <%= form_with url: users_path, method: :get,
          data: { controller: 'search', turbo_frame: :users, search_target: 'form' },
          class: 'flex gap-2 items-center sm:ml-4 ml-2' do |f| %>

          <%= link_to cancel_search_path, id: 'turbo_btn', data: { dropdown_target: 'button submit', turbo_stream: 'true' } do %>
            <i class="fa-solid fa-arrow-left w-5 h-5 text-white"></i>
          <% end %>

          <%= f.search_field :q, placeholder: 'Search Users...', autofocus: true, data: { action: 'search#debounce' }, class: 'w-full h-8 rounded-3xl border-transparent focus:border-transparent focus:ring-0' %>
        <% end %>
        
        <div class="p-3 rounded-b-md bg-white shadow-md opacity-95">
          <%= turbo_frame_tag :users do %>
            <% if @users.length.positive? %>
              <% @users.each do |user| %>
                <%= render 'friendships/friend_request', user: user %>
              <% end %>
            <% else %>
              <p>No matches</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>