<div class="flex items-center gap-4 px-4 sm:px-6 py-4 rounded-t-xl bg-amber-700">
  <%= image_tag avatar_image(@user, :display), class: 'rounded-full bg-white p-1 min-w-[80px] sm:max-w-[200px] max-w-[50px]' %>
  <div class="flex flex-col w-1/2 sm:ml-5 ml-0 gap-2 text-slate-200 tracking-wide">
    <h1 class="showpage-font font-extrabold"><%= @user.name %></h1>
    <div class="flex flex-col justify-between sm:flex-row text-xs sm:text-base">
      <p>
        <i class="fa-solid fa-user-group"></i>
        <span> <%= pluralize(@user.friends.count, 'friend') %></span>
      </p>
      <% if @user.profile.location.present? %>
        <p>
          <i class="fa-solid fa-house-chimney"></i>
          <span> <%= @user.profile.location %></span>
        </p>
      <% end %>
    </div>
    <p class="sm:text-base text-xs"><%= @user.profile.bio %></p>
  </div>
</div>
<%= render 'posts/form', post: @new_post, user: @user %>

<div id="posts" class="mb-10">
  <%= render @posts, user: current_user %>
</div>

<% if @pagy.next.present? %>
  <%= turbo_frame_tag :loading, loading: :lazy do %>
    <div id="skeleton" class="flex justify-center mb-10">
      <p class="text-slate-600 font-normal">Loading Posts...</p>
    </div>
  <% end %>
  <%= turbo_frame_tag :infinite_scroll, loading: :lazy, src: posts_path(format: :turbo_stream) %>
<% end %>