<% animate = local_assigns[:animate] %>

<div class="<%= animation(animate, 'animate-slideRight') %> flex items-center gap-3">
  <%= link_to root_path, class: 'min-w-max bg-amber-700 rounded-full sm:border-none border-2' do %>
    <%= content_tag :div, class: animate_logo_sm do %>
      <%= image_tag('join-icon.svg', width: '38px', class: 'sm:hidden block p-[2px]') %>
    <% end %>
    <%= content_tag :div, class: animate_logo_lg do %>
      <%= image_tag('logo-join.svg', width: '110px', class: 'animote sm:block hidden py-1') %>
    <% end %>
  <% end %>
  
  <%= link_to users_path, class: 'flex gap-1 items-center' do %>
    <i class="fa-solid fa-magnifying-glass lg:w-4 lg:h-4 w-5 h-5"></i>
    <p class="lg:block hidden">Search</p>
  <% end %>
</div>