<%= turbo_stream_from :preview %>
<%= link_to chat_path(chat_preview),
 id: dom_id(chat_preview, :preview),
  data: { turbo_frame: :chat },
  class: 'flex justify-evently items-center p-1 px-3 gap-1 w-full rounded-2xl bg-slate-200' do %>
  <div class="w-auto min-w-fit">
    <%= image_tag avatar_image(friend, :thumb), class: 'avatar h-8 w-8' %>
  </div>

  <div class="flex flex-col overflow-hidden flex-1">
    <div class="flex justify-between items-center font-normal">
      <p><%= friend.name %></p>
    </div>
    
    <div class="text-xs truncate">
      <%= content_tag :p, id: dom_id(chat_preview, :body) do %>
        <%= message.preview_message %>
      <% end %>
    </div>
  </div>

  <%= content_tag :div, id: dom_id(chat_preview, :image) do %>
    <%= render 'chats/last_message_images', message: message %>
  <% end %>

  <p class="font-light text-xs">
    <%= time_ago_in_words(message.created_at) %>
  </p>
<% end %>