<% case status %>
  <% when 'accepted' %>
    <%= button_to(user, params: { friendship: { friend_id: user.id} }, method: :get, class: 'sm:btn sm:btn-sm') do %>
      <i title="Message" class="fa-solid fa-message text-orange-500 text-lg btn-icon sm:hidden"></i>
      <p class="sm:block hidden normal-case">Message</p>
    <% end %>
    <%= button_to(friendship_path(user), params: { friendship: { friend_id: user.id} }, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'sm:btn sm:btn-sm') do %>
      <i title="Remove Friend" class="fa-solid fa-handshake-simple-slash text-orange-500 text-lg btn-icon sm:hidden"></i>
      <p class="sm:block hidden normal-case">Remove</p>
    <% end %>
  <% when 'sent' %>
    <%= button_to(friendship_path(user), params: { request: :cancel, friendship: { friend_id: user.id} }, method: :delete, class: 'sm:btn sm:btn-sm') do %>
      <i title="Cancel Friend Request" class="fa-solid fa-user-xmark text-orange-500 text-lg btn-icon sm:hidden"></i>
      <p class="sm:block hidden normal-case">Cancel</p>
    <% end %>
  <% when 'received' %>
    <%= button_to(friendship_path(user), params: { friendship: { status: :accepted } }, method: :patch, class: 'sm:btn sm:btn-sm') do %>
      <i title="Accept Friend Request" class="fa-solid fa-user-check text-orange-500 text-lg btn-icon sm:hidden"></i>
      <p class="sm:block hidden normal-case">Accept</p>
    <% end %>
    <%= button_to(friendship_path(user), method: :delete, params: { request: :declined, friendship: { friend_id: user.id} }, data: { turbo_confirm: 'Are you sure?' }, class: 'sm:btn sm:btn-sm') do %>
      <i title="Decline Friend Request" class="fa-solid fa-user-xmark text-orange-500 text-lg btn-icon sm:hidden"></i>
      <p class="sm:block hidden normal-case">Decline</p>
    <% end %>
  <% else %>
    <%= button_to(friendships_path, params: { friendship: { friend_id: user.id } }, method: :post, class: 'sm:btn sm:btn-sm') do %>
      <i title="Add Friend" class="fa-solid fa-user-plus text-orange-500 text-lg btn-icon sm:hidden "></i>
      <p class="sm:block hidden normal-case">Add</p>
    <% end %>
<% end %>
