<div class="flex items-center justify-between gap-2 mb-2">
  <%= link_to user_path(user), class: 'font-medium text-slate-600 link' do %>
    <div class="flex items-center gap-2">
      <%= image_tag avatar_image(user, :thumb), class: 'avatar w-7 h-7' %>
      <%= user.name %>
    </div>
  <% end %>

  <div class="flex justify-between items-center gap-2">
    <%= button_to chat_path(current_user.chat(user)), data: { turbo_frame: :chat }, method: :get, class: 'sm:btn sm:btn-sm' do %>
      <i title="Message" class="fa-solid fa-message text-slate-400 text-lg btn-icon sm:hidden"></i>
      <%= content_tag :p, 'Message', class: 'sm:block hidden normal-case' %>
    <% end %>
    <%= render 'friendships/button_type', status: current_user.friendship_status(user), user: user %>
  </div>
</div>