<div class="flex flex-col items-center max-w-[500px] mx-auto">
  <div class="flex justify-center items-center w-full">
    <h1 class="pr-5 font-source text-center font-semibold text-xl tracking-wide text-orange-500 whitespace-nowrap">
      .friend requests
    </h1>
    <hr class="w-full border-t-2 border-orange-200">
  </div>

  <div class="page-content-card w-full mb-6 px-5 py-3">
    <% @friend_requests.each do |request| %>
      <div class="last:mb-0 mb-2 py-1 px-3 bg-slate-200 rounded-2xl">
      <%= render 'friend_request', user: request.friend %>
      </div>
    <% end %>
  </div>
  
  <div class="flex justify-center items-center w-full">
    <h1 class="pr-5 font-source text-center font-semibold text-xl tracking-wide text-orange-500 whitespace-nowrap">
      .friends
    </h1>
    <hr class="w-full border-t-2 border-orange-200">
  </div>
  
  <div class="page-content-card mt-2 px-5 py-3">
    <div class="flex flex-col">
      <% @friends.each do |friend| %>
        <div class="flex gap-2 justify-between items-center last:mb-0 mb-2 py-1 px-3 bg-slate-200 rounded-2xl">
          <%= link_to friend, class: 'flex items-center gap-2' do %>
            <%= image_tag avatar_image(friend, :thumb), class: 'avatar w-8 h-8' %>
            <p class="font-medium text-slate-600 link"><%= friend.name %></p>
          <% end %>
  
          <div class="flex gap-2">
            <%= render 'friendships/chat_button', friend: friend %>
  
            <%= button_to friendship_path(friend), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'sm:btn sm:btn-sm' do %>
              <i title="Remove" class="fa-solid fa-handshake-simple-slash text-lg text-orange-500 btn-icon sm:hidden"></i>
              <p class="normal-case sm:block hidden">Remove</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
