<%= turbo_frame_tag "post_body_#{post.id}" do %>
  <div>
    <% if post.author == post.user %>
      <%= link_to post.author.username, post.author, data: { turbo_frame: '_top' } %> posted on
    <% else %>
      <%= link_to post.author.username, post.author, data: { turbo_frame: '_top' } %>
      <i class="fa-solid fa-play h-[11px] text-slate-500"></i>
      <%= link_to post.user.username, post.user, data: { turbo_frame: '_top' } %> posted on
    <% end %>
    <span><%= post.formatted_date %>:</span>
    <p><%= post.body %></p>
  </div>
  <hr>

  <div class="flex gap-x-2">
    <%= render 'likes/like_button', likeable: post, user: current_user %>
    <%= render 'likes/like_counter', likeable: post, user: current_user %>
    
    <% if post.author == current_user %>
      <%= button_to edit_post_path(post), method: :get do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <span>Edit</span>
      <% end %>
    <% end %>

    <% if post.user == current_user || post.author == current_user %>
      <%= button_to post, method: :delete do %>
        <i class="far fa-trash-can"></i>
        <span>Delete</span>
      <% end %>
    <% end %>
  </div>
<% end %>