<%= turbo_frame_tag "post_body_#{post.id}" do %>
  <div class="flex items-center gap-2 mb-2">
    <%= link_to post.author do %>
      <%= image_tag avatar_image(post.author, :thumb), class: 'avatar w-9 h-9' %>
    <% end %>

    <div class="font-medium">
      <% if post.author == post.user %>
        <%= link_to post.author.name, post.author, data: { turbo_frame: '_top' }, class: 'link' %>
      <% else %>
        <%= link_to post.author.name, post.author, data: { turbo_frame: '_top' }, class: 'link' %>
        <i class="fa-solid fa-play h-[11px] text-stone-400"></i>
        <%= link_to post.user.name, post.user, data: { turbo_frame: '_top' }, class: 'link' %>
      <% end %>

      <p class="text-xs font-light"><%= formatted_date(post) %></p>
    </div>
  </div>

  <% if post.image.attached? || post.gif_url.present? %>
    <div class="flex flex-col justify-center items-center gap-2 bg-slate-50 w-full">
      <% if post.gif_url.present? %>
        <%= link_to post.gif_url, target: '_blank' do %>
          <%= image_tag post.gif_url %>
        <% end %>
      <% end %>

      <% if post.image.attached? %>
          <%= link_to url_for(post.image), target: '_blank' do %>
            <% if post.image.content_type.eql?('image/gif') %>
              <%= image_tag post.image %>  
            <% else %>
              <%= image_tag post.image.variant(:display) %>
            <% end %>
          <% end %>
      <% end %>
    </div>
  <% end %>

  <p class="whitespace-normal break-words"><%= post.body %></p>
  
  <hr class="my-2">

  <div class="pl-5 flex justify-between">
    <div class="flex gap-1">
      <%= render 'likes/like_button', likeable: post, user: current_user %>
      <%= render 'likes/like_counter', likeable: post, user: current_user %>
    </div>
    
    <div class="pr-5 flex gap-4">
      <% if post.author == current_user %>
        <%= button_to edit_post_path(post), method: :get do %>
          <i class="fa-regular fa-pen-to-square icon"></i>
        <% end %>
      <% end %>

      <% if post.user == current_user || post.author == current_user %>
        <%= button_to post, method: :delete, params: { post: { user_id: current_user.id }, data: { turbo_frame: '_top'}} do %>
          <i class="far fa-trash-can icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr class="my-2">
<% end %>