<div class="border mt-2" id=<%= dom_id(post) %>>
  <%= render 'posts/post_body', post: post, current_user: current_user %>
  <hr>

  <%= turbo_stream_from post, :comment_count %>
  <%= render 'posts/comment_counter', post: post %>

  <%= turbo_stream_from post, :comments %>
  <div id="<%= dom_id(post, :comments) %>">
    <%= render partial: 'comments/parent_comment',
      collection: post.comments.where(parent_id: nil),
      as: :comment,
      locals: { current_user: current_user } %>
  </div>

  <%= render 'comments/form', commentable: post, comment: Comment.new %>
</div>