<div class="border mt-2" id=<%= dom_id(post) %>>
  <div>
    <%= link_to post.user.username, post.user %> posted on
    <span><%= post.formatted_date %>:</span>
    <p><%= post.body %></p>
  </div>
  <hr>
  <div class="flex gap-x-2">
    <div>
      <i class="far fa-thumbs-up"></i>
      <span>Like</span>
    </div>

    <div>
      <i class="fa-regular fa-comment-dots"></i>
      <span>Reply</span>
    </div>
    
    <div>
      <%= link_to edit_post_path(post) do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <span>Edit</span>
      <% end %>
    </div>
    <div>
      <%= button_to post, method: :delete do %>
        <i class="far fa-trash-can"></i>
        <span>Delete</span>
      <% end %>
    </div>
  </div>
  <hr>

  <%= turbo_stream_from :comment_count %>
  <div id="<%= dom_id(post, :comment_count) %>">
    <span><%= pluralize(post.comment_count, 'Comment') %></span>
  </div>

  <%= turbo_stream_from post, :comments %>
  <div id="<%= dom_id(post, :comments) %>">
    <%= render partial: 'comments/parent_comment',
      collection: post.comments.where(parent_id: nil),
      as: :comment %>
  </div>

  <%#= turbo_frame_tag 'new_nested_comment' %>

  <%= render 'comments/form', commentable: post, comment: Comment.new %>
</div>