<%= turbo_frame_tag "post_body_#{post.id}" do %>
  <div class="mb-2 font-medium">
    <% if post.author == post.user %>
      <%= link_to post.author.username, post.author, data: { turbo_frame: '_top' } %>
    <% else %>
      <%= link_to post.author.username, post.author, data: { turbo_frame: '_top' } %>
      <i class="fa-solid fa-play h-[11px] text-stone-400"></i>
      <%= link_to post.user.username, post.user, data: { turbo_frame: '_top' } %>
    <% end %>
    <p class="text-xs font-light"><%= formatted_date(post) %></p>
  </div>

  <% if post.image.attached? %>
    <div class="flex justify-center bg-slate-50 w-full">
      <%= image_tag post.image.variant(:resize) %>
    </div>
  <% end %>
  <p><%= post.body %></p>
  
  <hr class="my-2">

  <div class="flex gap-x-5">
    <%= turbo_stream_from post, :like_count, class: 'hidden' %>
    <div class="flex gap-x-1">
      <%= render 'likes/like_button', likeable: post, user: current_user %>
      <%= render 'likes/like_counter', likeable: post, user: current_user %>
    </div>
    
    <% if post.author == current_user %>
      <%= button_to edit_post_path(post), method: :get do %>
        <i class="fa-regular fa-pen-to-square text-stone-500"></i>
      <% end %>
    <% end %>

    <% if post.user == current_user || post.author == current_user %>
      <%= button_to post, method: :delete, params: { post: { user_id: current_user.id }, data: { turbo_frame: '_top'}} do %>
        <i class="far fa-trash-can text-stone-500"></i>
      <% end %>
    <% end %>
  </div>
  <hr class="my-2">
<% end %>