<%= turbo_frame_tag "post_body_#{post.id}" do %>
  <div>
    <%= link_to post.author.username, post.author, data: { turbo_frame: '_top' } %> posted on
    <span><%= post.formatted_date %>:</span>
    <p><%= post.body %></p>
  </div>
  <hr>

  <div class="flex gap-x-2">
    <%= turbo_stream_from post, :like_button, class: 'hidden' %>
    <%= render 'likes/like_button', likeable: post, current_user: current_user %>
    <%= turbo_stream_from post, :like_count, class: 'hidden' %>
    <%= render 'likes/like_counter', likeable: post %>
    
    <%= button_to edit_post_path(post), method: :get do %>
      <i class="fa-regular fa-pen-to-square"></i>
      <span>Edit</span>
    <% end %>

    <%= button_to post, method: :delete do %>
      <i class="far fa-trash-can"></i>
      <span>Delete</span>
    <% end %>
  </div>
<% end %>