<div class="flex justify-between items-center">
  <h1 class="pr-5 font-source text-center font-semibold text-xl tracking-wide text-orange-500 whitespace-nowrap">
    .profile
  </h1>
  <hr class="border-t-2 border-orange-200 w-full">
</div>

<%= form_with model: @profile, data: { controller: 'form' } do |f| %>
  <div class="page-content-card gap-2">
    <%= f.text_field :first_name, placeholder: 'First name', class: 'form-field' %>
    <%= render 'shared/form_errors', form: f, value_type: :first_name %>

    <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-field' %>
    <%= render 'shared/form_errors', form: f, value_type: :last_name %>    
    
    <%= f.text_field :location, placeholder: 'Location', class: 'form-field' %>
    <%= render 'shared/form_errors', form: f, value_type: :location %>
    
    <%= f.text_area :bio, placeholder: 'Bio', rows: 3,
      data: { action: 'form#resize', form_target: 'input', form_type: 'profile' },
      class: 'form-field' %>
    <%= render 'shared/form_errors', form: f, value_type: :bio %>
    
    <%= f.file_field :avatar, data: { form_target: 'image', action: 'change->form#preview' }, class: 'btn-choose-file', accept: 'image/png, image/jpeg, image/jpg', class: 'hidden' %>
    <div class="flex justify-between">
      <%= f.label :avatar, 'Profile Image', class: 'btn' %>
      <%= f.submit 'Save Profile', data: { turbo: false }, class: 'btn' %>
    </div>

    <div class="text-xs whitespace-nowrap flex flex-col" data-form-target="preview">
      <p><%= "Image: #{f.object.avatar.filename}" if f.object.avatar.attached? %></p>
      <%= render 'shared/form_errors', form: f, value_type: :avatar %>
    </div>
  </div>
<% end %>