<!DOCTYPE html>
<html>
  <head>
    <title>Join</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="current-user-id" content="<%= current_user&.id %>"> <%# current user conditionals when broadcasting turbo streams %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://kit.fontawesome.com/6191f9c23a.js", crossorigin: 'anonymous', defer: 'defer' %>
  </head>

  <body class="font-roboto bg-stone-100 text-sm">
    <%= render 'shared/nav' unless devise_controller? %>
    <%= turbo_frame_tag :alert %>
    <main class="container mx-auto mt-10 px-52">
      <%= yield %>
    </main>
  </body>
</html>